:root {
  --black-color: black;
  --green-color: green;
  --light-green-color: lightgreen;
  --white-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;

  background-image: url(/background-image.jpg);
}

h2 {
  margin: 0;
  font-size: 36px;
}

.container {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 600px;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
  margin: 10px;
}

.password-container {
  width: 100%;
  border: solid 2px rgb(227, 227, 227);
  padding: 15px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.input {
  width: 100%;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 22px;
  letter-spacing: 4px;
}

.input::placeholder {
  letter-spacing: 0;
}

.btn {
  background-color: var(--black-color);
  color: var(--white-color);
  border: none;
  padding: 8px;
  border-radius: 10px;
  margin: 8px 0;
  font-size: 15px;
  cursor: pointer;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}

.btn:hover {
  background-color: var(--green-color);
}

.btn:active {
  transform: scale(0.95);
}

.fa-arrows-rotate {
  color: var(--white-color);
}

.alert-container {
  position: fixed;
  width: 300px;
  height: 50px;
  background-color: var(--light-green-color);
  right: 20px;
  bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black-color);
  font-size: 20px;
}

.active.alert-container {
  right: -300px;
}

.options {
  width: 100%;
}

.strength-container {
  display: flex;
  justify-content: space-between;
}

.input-slider {
  width: 100%;
}

#lenght.slider {
  width: 100%;
  height: auto;
}

.option {
  /* padding: 10px 0; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 30px 0 0 0;
}

/* CSS Switch */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--black-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--black-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input[type="range"] {
  accent-color: var(--black-color);
}
